PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.b7ppmfo.mongodb.net/fingraphic_db?retryWrites=true&w=majority
REDIS_URL=redis://localhost:6379

JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

GOOGLE_API_KEY=your_google_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash

FINNHUB_API_KEY=your_finnhub_api_key_here
FINNHUB_WS_URL=wss://ws.finnhub.io

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_FROM="FinGraphic <no-reply@fingraphic.app>"
